body {
  font-family: 'Montserrat', sans-serif;
}

#artist-img {
  width: 100px;
  padding-top: 15px;
  padding-bottom: 15px;
}

@media (min-width: 576px) {
  #artist-img {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.artist-col {
  background-color: #333;
  flex: 0 0 auto;
  flex-direction: column;
  flex-wrap: wrap;
  width: 33.33333333%;
  border: 3px #fff solid;
}

.artist-bio {
  background-color: #333;
  display: flex;
  flex: 0 0 auto;
  margin: auto;
  border: 3px #fff solid;
}

@media (min-width: 300px) {
  #artist-p {
    font-family: Montserrat, sans-serif;
    font-size: 10px;
    padding: 5px 0px 5px;
    overflow-wrap: break-word;
  }
}

@media (min-width: 576px) {
  #artist-p {
    font-family: Montserrat, sans-serif;
    font-size: 13px;
    padding: 5px 0px 5px;
    overflow-wrap: break-word;
  }
}

@media (min-width: 992px) {
  #artist-p {
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    padding: 5px 0px 5px;
  }
}

.profile {
  margin-top: 30px;
}

.artist-bio p {
  margin: 10px;
}

.event-section {
  width: 100%;
  height: auto;
}

.event-row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: baseline;
  margin: 10px;
}

.event-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 25%;
  color: #000000;
  background-color: #d6dbe0;
  width: 20rem;
  height: auto;
  border: solid rgba(0, 0, 0, 0.15) 5px;
  margin: 20px;
  text-align: center;
}

.event-box a {
  text-decoration: none;
  color: rgb(0,0,0);
}

.event-box a:hover {
  text-decoration: none;
  color: rgb(223,39,39);
}

.event-box h3 {
  margin-top: 20px;
  font-weight: 600;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  border-radius: 15px;
}

.event-box p {
  margin-top: 20px;
  font-size: 15px;
  font-weight: bolder;
  border-bottom: solid rgba(0, 0, 0, 0.15) 2px;
  padding-bottom: 20px;
}

#event-icons {
  margin-top: 10px;
  font-size: 25px;
}