.btn {
  margin-left: 5px;
}

.event-col {
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 50%;
  border: 3px #ffffff double;
  margin-top: 50px;
  font-family: Montserrat, sans-serif;
  text-align: center;
  font-size: 20px;
}

.event-details {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#event-name {
  margin-top: 20px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-radius: 10px;
  padding-top: 10px;
  font-family: Montserrat, sans-serif;
  padding-bottom: 10px;
  font-weight: bold;
  margin-bottom: 20px;
}

#event-icons {
  padding-left: 10px;
}