@media (min-width: 300px) {
  #artist-p {
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    padding-top: 10px;
  }
}

@media (min-width: 992px) {
  #artist-p {
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    padding-top: 10px;
  }
}

.col-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}

#artist-img {
  padding-top: 15px;
  padding-bottom: 15px;
}

