body {
  background: rgb(0,0,0);
  color: rgb(255,255,255);
}

#home {
  width: 100%;
  height: 100vh;
  background: url("../images/pexels-peter-marjoram-4546984.jpg") center / cover no-repeat;
}

@media (min-width: 768px) {
  #home {
    background: url("../images/pexels-sebastian-ervi-1763075.jpg") center / cover no-repeat;
  }
}

.navbar-brand {
  background: url("../images/f5219dda-9638-4c0d-8bfd-1a5b15961a09.sketchpad(2).png") center / 80% no-repeat;
  width: 180px;
  height: 40px;
}

#navcol-1 {
  font-size: 16px;
  font-family: Montserrat, sans-serif;
}

.tagline {
  text-align: center;
  padding: 0px;
}

#home_bottom .container {
  max-width: 700px;
}

.icons {
  height: 50%;
  font-size: 30px;
}

.p-0 {
  padding: 0 !important;
}

.info {
  width: 50%;
  height: 50vh;
  flex: 0 0 auto;
  max-width: 100%;
}

.info-column {
  height: 100%;
}

.info-image {
  min-height: 30rem;
}

@media (min-width: 300px) {
  #info p {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    padding: 50px;
  }
}

@media (min-width: 576px) {
  #info p {
    font-size: 16px;
  }
}

#info h1 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  margin-top: 25px;
}

.credits {
  padding-top: 2rem;
  background: var(--bs-gray-dark);
}

.credits {
  height: 370px;
}

.credits p {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-weight: bold;
}

.credits h2 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.credits h5 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.image-container {
  text-align: center;
}

#home-img {
  width: 100px;
  height: 100px;
  padding-bottom: 5px;
}

#about-btn {
  margin-top: 15px;
  font-family: Montserrat, sans-serif;
}

#return-btn {
  font-family: Montserrat, sans-serif;
  width: 100%;
  height: 40px;
}
