body {
  background: rgb(0,0,0);
  color: rgb(0, 0, 0);
}

a {
  color:rgb(8, 0, 0)
}

fieldset {
  color:rgb(0, 0, 0);
  min-width: 0;
  padding:0;
  margin: 40px;
  border: 0;
}
.form-label {
    color: rgb(255, 255, 255);
  }
  
  form {
    margin-top: 20px;
    background: #ffffff;
    height: 720px;
    border-radius: 40px;
  }

  #form-head {
    color: rgb(0, 0, 0);
    font-weight: bold;
    border-bottom-style: solid;
    padding-bottom: 25px;
    padding-top: 25px;
  }
  
  #form-btn {
    margin-top: 25px;
  }

  .btn-outline-info {
    margin-top: 20px;
    color: #f8f8f8;
    border-color: #f8f8f8;

}   

.btn-outline-info:hover {
    color: rgb(10, 0, 0);
    background-color: #ffffff;
    border-color: #ffffff;
  }

  a {
    color:rgb(255, 255, 255)
  }