{% extends "layout.html" %}
{% block content %}

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=yes">
  <title>Escenapp_Sign-up</title>
  <link rel="stylesheet" href="../static/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat&amp;display=swap">
  <link rel="stylesheet" href="../static/assets/fonts/font-awesome.min.css">
  <link rel="stylesheet" href="../static/assets/css/styles.min.css">
  <link rel="stylesheet" href="../static/styles/css/register-style.css">
  <link rel="stylesheet" href="../static/assets/styles/css/Footer-Basic.css">
</head>

<body>
  <div class="row">
    <div class="col">
      <nav class="navbar navbar-light navbar-expand-md bg-light">
        <div class="container-fluid"><a class="navbar-brand" href="#"></a><button data-bs-toggle="collapse"
            class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle
              navigation</span><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav">
              <li class="nav-item"><a class="nav-link active" href="/home">Home</a></li>
              <li class="nav-item"><a class="nav-link" href="/home">Back</a></li>
              <li class="nav-item"></li>
            </ul>
          </div><button class="btn btn-dark" type="button">Sign-in</button>
        </div>
      </nav>
      <!--      <div class="modal fade" role="dialog" tabindex="-1" id="events">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
          <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body">
              <form id="event-form" method="post" action="#" target="_self">
                <input class="form-control" type="text" placeholder="Event Name"
                  style="font-family: Montserrat, sans-serif;">
                <input class="form-control" type="text" placeholder="Event Type"
                  style="font-family: Montserrat, sans-serif;">
                <input class="form-control" type="text" placeholder="Description"
                  style="font-family: Montserrat, sans-serif;">
                <input class="form-control" type="date" style="font-family: Montserrat, sans-serif;"><input
                  class="form-control" type="time" style="font-family: Montserrat, sans-serif;">
              </form>
            </div>
            <div class="modal-footer"><button class="btn btn-light" type="button"
                data-bs-dismiss="modal">Close</button><button class="btn btn-dark" type="submit">Save</button></div>
          </div>
        </div>
      </div>
       Custom Bootstrap studio form template           <div class="modal fade" role="dialog" tabindex="-1" id="settings">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title"
                                style="color: rgb(0,0,0);font-family: Montserrat, sans-serif;font-weight: bold;">Update
                                Info</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="settings-form" method="post" action="#" target="_self"><input class="form-control"
                                    type="text" placeholder="Artist Name"
                                    style="font-family: Montserrat, sans-serif;"><input class="form-control" type="text"
                                    placeholder="Genre" style="font-family: Montserrat, sans-serif;"><input
                                    class="form-control" type="text" placeholder="Instrument"
                                    style="font-family: Montserrat, sans-serif;"><input class="form-control" type="text"
                                    placeholder="Biography" style="font-family: Montserrat, sans-serif;">
                           </form>
                        </div>
                        <div class="modal-footer"><button class="btn btn-light" type="button"
                                data-bs-dismiss="modal">Close</button><button class="btn btn-dark"
                                type="submit">Save</button></div>
                    </div>
                </div>
            </div>
            -->

      <div class="col-xxl-12 col-xxl-12 offset-xxl-4"
        style="width: 500px;padding: 0px 0px 0px;padding-top: 0px;padding-right: 0px;padding-left: 0px;padding-bottom: 0px;">

        <section class="content-signup" style="margin-top: 55px; margin-left: 50px;">
          <!-- To be added code for registrationform -->
          <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
              <!-- BEGINNING OF FEEDBACK ERROR MESSAGE BLOCK -->
              <h2 class="border-bottom ml=5">Account Validation</h2>
              <div class="form-group" type="text" style="font-family: Montserrat, sans-serif; margin-top: 50px;">
                <!-- Name label for input usr email -->
                {{ form.name.label(class="form-control-label") }}

                {% if form.name.errors %}
                {{ form.name(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.name.errors %}
                  <span>
                    {{ error }}
                  </span>
                  {% endfor %}
                </div>
                {% else %}
                {{ form.name(class="form-control form-control-lg") }}
                {% endif %}
              </div>
              <!-- Genre label for input usr email -->
              <div class="form-group" type="text" style="font-family: Montserrat, sans-serif;">
                {{ form.genre.label(class="form-control-label") }}

                {% if form.genre.errors %}
                {{ form.genre(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.genre.errors %}
                  <span>
                    {{ error }}
                  </span>
                  {% endfor %}
                </div>
                {% else %}
                {{ form.genre(class="form-control form-control-lg") }}
                {% endif %}
              </div>
              <!-- Instrument label for input usr email -->
              <div class="form-group" type="text" style="font-family: Montserrat, sans-serif;">
                {{ form.instrument.label(class="form-control-label") }}

                {% if form.instrument.errors %}
                {{ form.instrument(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.instrument.errors %}
                  <span>
                    {{ error }}
                  </span>
                  {% endfor %}
                </div>
                {% else %}
                {{ form.instrument(class="form-control form-control-lg") }}
                {% endif %}
              </div>
              <!-- Account registration information required -->
              <h2 class="border-bottom ml=5">Account Personal Information  </h2>
              <!-- Email label for input usr email -->
              <div class="form-group" type="email"  style="font-family: Montserrat, sans-serif; margin-top: 40px;">
                {{ form.email.label(class="form-control-label") }}

                {% if form.email.errors %}
                {{ form.email(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.email.errors %}
                  <span>
                    {{ error }}
                  </span>
                  {% endfor %}
                </div>
                {% else %}
                {{ form.email(class="form-control form-control-lg") }}
                {% endif %}
              </div>
              <!-- Password label for input usr email -->
              <div class="form-group" type="password" style="font-family: Montserrat, sans-serif;">
                {{ form.password.label(class="form-control-label") }}
                {% if form.password.errors %}
                {{ form.password(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.password.errors %}
                  <span>
                    {{ error }}
                  </span>
                  {% endfor %}
                </div>
                {% else %}
                {{ form.password(class="form-control form-control-lg") }}
                {% endif %}
              </div>
              <!-- Confirm_password label for input usr email -->
              <div class="form-group" type="password" style="font-family: Montserrat, sans-serif;">
                {{ form.confirm_password.label(class="form-control-label") }}
                {% if form.confirm_password.errors %}
                {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.confirm_password.errors %}
                  <span>
                    {{ error }}
                  </span>
                  {% endfor %}
                </div>
                {% else %}
                {{ form.confirm_password(class="form-control form-control-lg") }}
                {% endif %}
              </div>
              <!-- END OF FEEDBACK ERROR MESSAGE BLOCK -->
            </fieldset>
            <div class="form-group" type="submit" style="margin-left: 180px;">
              {{ form.submit(class="btn btn-outline-info") }}
            </div>
          </form>
          <div class="border-top pt-3">
            <small class="text-muted">
              Already Have An Account? <a class="ml-2" href="{{url_for('users.login') }}">Sign In</a>
            </small>
          </div>
          <script src="../static/assets/bootstrap/css/bootstrap.min.js"></script>
          <script src="../static/assets/js/smart-forms.min.js"></script>
          <script src="../static/assets/js/script.min.js"></script>
        </section>
        <!-- Custom Template form 
           <div class="row d-flex register-form"
                style="height: 1600px;width: 700px;max-width: 120%;transform: translate(0px);padding: 0px;">
                <div class="col offset-xxl-3" style="width: 700px;padding-right: 0px;padding-left: 0px;margin: 0px;">
                    <form class="border rounded shadow-sm custom-form" style="height: 500px;width: 500px;"
                        data-bss-recipient="0536372fc21e25e3b17fa7609aed9d61" data-bss-redirect-url="/index.html">
                        <div class="row form-group"
                            style="width: 430px;height: 70px;padding-top: 0px;padding-right: 0px;">
                            <div class="col-sm-6 col-xxl-9 input-column"
                                style="width: 388.5px;max-width: 100%;height: 60px;padding-top: 0px;padding-right: 0px;padding-left: 0px;">
                                <label class="form-label" for="name-input-field"
                                    style="padding: 0px 48px 0px 0px;padding-right: 0px;width: 233px;font-family: Montserrat, sans-serif;letter-spacing: 0px;font-size: 22px;text-align: left;font-weight: bold;padding-bottom: 0px;height: 138.px;margin: 0px;padding-left: 0px;line-height: 27px;padding-top: 0px;transform: translate(0px);">Artist
                                    Name</label>
                                <div class="w-100"></div><input class="form-control" type="text"
                                    style="width: 378px;font-family: Montserrat, sans-serif;padding-bottom: 0px;margin: 0px;height: 40px;padding-right: 0px;padding-top: 0px;padding-left: 0px;">
                            </div>
                        </div>
                        <div class="row form-group" style="width: 430px;height: 80px;padding-top: 0px;">
                            <div class="col-sm-4 col-xxl-12 offset-xxl-0 label-column"
                                style="width: 230px;padding-left: 30px;height: 38px;"><label class="col-form-label"
                                    for="name-input-field"
                                    style="padding: 0px 48px 0px 0px;padding-right: 0px;width: 200px;font-family: Montserrat, sans-serif;letter-spacing: 0px;font-size: 22px;text-align: left;font-weight: bold;padding-bottom: 0px;height: 169.px;margin: 0px;padding-left: 0px;line-height: 18px;padding-top: 0px;transform: translate(-29px);">Instrument</label>
                            </div>
                            <div class="col-sm-6 col-xxl-9 input-column"
                                style="width: 434.5px;padding-right: 0px;padding-left: 0px;padding-top: 0px;">
                                <div class="w-100"></div><input class="form-control" type="text"
                                    style="width: 383px;font-family: Montserrat, sans-serif;padding-bottom: 0px;margin: 0px;height: 40px;padding-left: 0px;padding-right: 0px;padding-top: 0px;">
                            </div>
                        </div>
                        <div class="row form-group" style="width: 430px;height: 80px;padding-top: 0px;">
                            <div class="col-sm-4 col-xxl-12 offset-xxl-0 label-column"
                                style="width: 230px;padding-left: 30px;height: 38px;"><label class="col-form-label"
                                    for="name-input-field"
                                    style="padding: 0px 48px 0px 0px;padding-right: 0px;width: 200px;font-family: Montserrat, sans-serif;letter-spacing: 0px;font-size: 22px;text-align: left;font-weight: bold;padding-bottom: 0px;height: 169.px;margin: 0px;padding-left: 0px;line-height: 18px;padding-top: 0px;transform: translate(-29px);">Genre</label>
                            </div>
                            <div class="col-sm-6 col-xxl-9 input-column"
                                style="width: 434.5px;padding-right: 0px;padding-left: 0px;padding-top: 0px;">
                                <div class="w-100"></div><input class="form-control" type="text"
                                    style="width: 383px;font-family: Montserrat, sans-serif;padding-bottom: 0px;margin: 0px;height: 40px;padding-left: 0px;padding-right: 0px;padding-top: 0px;">
                            </div>
                        </div>
                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-1"><label
                                class="form-check-label border rounded" for="formCheck-1">I've read and accept the terms
                                and conditions</label></div><button class="btn btn-light submit-button"
                            type="button">Register&nbsp;</button>
                    </form>
                    <h1
                        style="text-align: center;transform: translate(147px);width: 430px;padding-bottom: 0px;margin: 0px;">
                        Personal Information</h1>
                    <form class="border rounded shadow-sm custom-form" style="height: 500px;width: 500px;"
                        data-bss-recipient="0536372fc21e25e3b17fa7609aed9d61" data-bss-redirect-url="/index.html">
                        <div class="row form-group"
                            style="width: 430px;height: 70px;padding-top: 0px;padding-right: 0px;">
                            <div class="col-sm-6 col-xxl-9 input-column"
                                style="width: 388.5px;max-width: 100%;height: 60px;padding-top: 0px;padding-right: 0px;padding-left: 0px;">
                                <label class="form-label" for="name-input-field"
                                    style="padding: 0px 48px 0px 0px;padding-right: 0px;width: 233px;font-family: Montserrat, sans-serif;letter-spacing: 0px;font-size: 22px;text-align: left;font-weight: bold;padding-bottom: 0px;height: 138.px;margin: 0px;padding-left: 0px;line-height: 27px;padding-top: 0px;transform: translate(0px);">Email</label>
                                <div class="w-100"></div><input class="form-control" type="text"
                                    style="width: 378px;font-family: Montserrat, sans-serif;padding-bottom: 0px;margin: 0px;height: 40px;padding-right: 0px;padding-top: 0px;padding-left: 0px;" />
                            </div>
                        </div>
                        <div class="row form-group" style="width: 430px;height: 80px;padding-top: 0px;">
                            <div class="col-sm-4 col-xxl-12 offset-xxl-0 label-column"
                                style="width: 230px;padding-left: 30px;height: 38px;"><label class="col-form-label"
                                    for="name-input-field"
                                    style="padding: 0px 48px 0px 0px;padding-right: 0px;width: 200px;font-family: Montserrat, sans-serif;letter-spacing: 0px;font-size: 22px;text-align: left;font-weight: bold;padding-bottom: 0px;height: 169.px;margin: 0px;padding-left: 0px;line-height: 18px;padding-top: 0px;transform: translate(-29px);">Password</label>
                            </div>
                            <div class="col-sm-6 col-xxl-9 input-column"
                                style="width: 434.5px;padding-right: 0px;padding-left: 0px;padding-top: 0px;">
                                <div class="w-100"></div><input class="form-control" type="text"
                                    style="width: 383px;font-family: Montserrat, sans-serif;padding-bottom: 0px;margin: 0px;height: 40px;padding-left: 0px;padding-right: 0px;padding-top: 0px;">
                            </div>
                        </div>
                        <div class="row form-group" style="width: 430px;height: 80px;padding-top: 0px;">
                            <div class="col-sm-4 col-xxl-12 offset-xxl-0 label-column"
                                style="width: 230px;padding-left: 30px;height: 38px;"><label class="col-form-label"
                                    for="name-input-field"
                                    style="padding: 0px 48px 0px 0px;padding-right: 0px;width: 221px;font-family: Montserrat, sans-serif;letter-spacing: 0px;font-size: 22px;text-align: left;font-weight: bold;padding-bottom: 0px;height: 184.px;margin: 0px;padding-left: 0px;line-height: 18px;padding-top: 0px;transform: translate(-29px);">Confirm
                                    Password</label></div>
                            <div class="col-sm-6 col-xxl-9 input-column"
                                style="width: 434.5px;padding-right: 0px;padding-left: 0px;padding-top: 0px;">
                                <div class="w-100"></div><input class="form-control" type="text"
                                    style="width: 383px;font-family: Montserrat, sans-serif;padding-bottom: 0px;margin: 0px;height: 40px;padding-left: 0px;padding-right: 0px;padding-top: 0px;">
                            </div>
                        </div>
                        <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-2"><label
                                class="form-check-label border rounded" for="formCheck-2">I've read and accept the terms
                                and conditions</label></div><button class="btn btn-light submit-button"
                            type="button">Register&nbsp;</button>
                    </form> -->
      </div>
    </div>
  </div>
</body>

{% endblock %}