{% extends "layout.html" %}
{% block content %}

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=yes">
  <title>Escenapp_Sign-up</title>
  <link rel="stylesheet" href="../static/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat&amp;display=swap">
  <link rel="stylesheet" href="../static/assets/fonts/font-awesome.min.css">
  <link rel="stylesheet" href="../static/assets/css/styles.min.css">
  <link rel="stylesheet" href="../static/styles/register-style.css">
  <link rel="stylesheet" href="../static/styles/Footer-Basic.css">
</head>
<!--Nav-Bar Header-->
<body>
  <div id="home_top">
    <nav class="navbar navbar-light navbar-expand-md bg-light"
      style="border-bottom-style: solid;border-bottom-color: rgb(0,0,0);">
      <div class="container-fluid"><a class="navbar-brand" href="/home"></a><button data-bs-toggle="collapse"
          class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span
            class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item"><a class="nav-link active text-start" href="#artist"
                style="color: rgb(0,0,0);font-size: 20px;text-align: center;"><strong>Artists</strong></a></li>
            <li class="nav-item text-start"><a class="nav-link text-start" href="#user"
                style="color: rgb(0,0,0);font-size: 20px;text-align: center;"><strong>Users</strong></a></li>
            <li class="nav-item text-start"><a class="nav-link text-start" href="/about"
                style="color: rgb(0,0,0);font-size: 20px;text-align: center;"><strong>About</strong></a></li>
          </ul>
          <ul class="navbar-nav ms-auto">
            <li class="nav-item"><a class="btn btn-dark text-end" role="button" data-bss-hover-animate="flash"
                style="margin-bottom: 2px;" href="/home">Back</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>

  <div class="col-12 offset-xxl-4"
    style="width: 500px;padding: 0px 0px 0px;padding-top: 0px;padding-right: 0px;padding-left: 0px;padding-bottom: 0px;">
    <section class="content-signup" style="margin-top: 55px; margin-left: 50px;">
      <h2 class="border-bottom ml=5">Account Validation</h2>
      <!-- To be added code for registrationform -->
      <form method="POST" action="#">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
          <!-- BEGINNING OF FEEDBACK ERROR MESSAGE BLOCK -->
          <div class="form-group" id="form-control" type="text"
            style="font-family: Montserrat, sans-serif; margin-top: 50px;">
            <!-- Name label for input usr email -->
            {{ form.name.label(class="form-control-label") }}
            {% if form.name.errors %}
            {{ form.name(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.name.errors %}
              <span>
                {{ error }}
              </span>
              {% endfor %}
            </div>
            {% else %}
            {{ form.name(class="form-control form-control-lg") }}
            {% endif %}
          </div>
          <!-- Genre label for input usr email -->
          <div class="form-group" type="text" style="font-family: Montserrat, sans-serif;">
            {{ form.genre.label(class="form-control-label") }}

            {% if form.genre.errors %}
            {{ form.genre(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.genre.errors %}
              <span>
                {{ error }}
              </span>
              {% endfor %}
            </div>
            {% else %}
            {{ form.genre(class="form-control form-control-lg") }}
            {% endif %}
          </div>
          <!-- Instrument label for input usr email -->
          <div class="form-group" type="text" style="font-family: Montserrat, sans-serif;">
            {{ form.instrument.label(class="form-control-label") }}

            {% if form.instrument.errors %}
            {{ form.instrument(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.instrument.errors %}
              <span>
                {{ error }}
              </span>
              {% endfor %}
            </div>
            {% else %}
            {{ form.instrument(class="form-control form-control-lg") }}
            {% endif %}
          </div>
          <!-- Account registration information required -->
          <h2 class="border-bottom ml=5">Account Personal Information </h2>
          <!-- Email label for input usr email -->
          <div class="form-group" id="email_form" type="email"
            style="font-family: Montserrat, sans-serif; margin-top: 40px;">
            {{ form.email.label(class="form-control-label") }}

            {% if form.email.errors %}
            {{ form.email(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.email.errors %}
              <span>
                {{ error }}
              </span>
              {% endfor %}
            </div>
            {% else %}
            {{ form.email(class="form-control form-control-lg") }}
            {% endif %}
          </div>
          <!-- Password label for input usr email -->
          <div class="form-group" type="password" style="font-family: Montserrat, sans-serif;">
            {{ form.password.label(class="form-control-label") }}
            {% if form.password.errors %}
            {{ form.password(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.password.errors %}
              <span>
                {{ error }}
              </span>
              {% endfor %}
            </div>
            {% else %}
            {{ form.password(class="form-control form-control-lg") }}
            {% endif %}
          </div>
          <!-- Confirm_password label for input usr email -->
          <div class="form-group" type="password" style="font-family: Montserrat, sans-serif;">
            {{ form.confirm_password.label(class="form-control-label") }}
            {% if form.confirm_password.errors %}
            {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.confirm_password.errors %}
              <span>
                {{ error }}
              </span>
              {% endfor %}
            </div>
            {% else %}
            {{ form.confirm_password(class="form-control form-control-lg") }}
            {% endif %}
          </div>
          <!-- END OF FEEDBACK ERROR MESSAGE BLOCK -->
        </fieldset>
        <div class="form-group" type="submit" style="margin-left: 180px;">
          {{ form.submit(class="btn btn-outline-info") }}
        </div>
      </form>
      <div class="border-top pt-3">
        <small class="text-muted">
          Already Have An Account? <a class="ml-2" href="{{url_for('users.login') }}">Sign In</a>
        </small>
      </div>
    </section>
    <script src="../static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/assets/js/smart-forms.min.js"></script>
    <script src="../static/assets/js/script.min.js"></script>
</body>
{% endblock %}