{% extends "layout.html" %}
{% block content %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=yes">
    <link rel="stylesheet" href="../static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat&amp;display=swap">
    <link rel="stylesheet" href="../static/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../static/assets/css/styles.min.css">
    <link rel="stylesheet" href="../static/assets/styles/register-style.css">
</head>

<body>
    <section id="register bar">
        <div class="row">
            <div class="col">
                <nav class="navbar navbar-light navbar-expand-md bg-light">
                    <div class="container-fluid"><a class="navbar-brand" href="/home"></a><button data-bs-toggle="collapse"
                            class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle
                                navigation</span><span class="navbar-toggler-icon"></span></button>
                      <div class="collapse navbar-collapse" id="navcol-1"></div>
			<a class="btn btn-dark" role="button" href="/home">Back</a>
                    </div>
                </nav>
                <div class="col-12 offset-xxl-4"
                    style="width: 500px;padding: 0px 0px 0px;padding-top: 0px;padding-right: 0px;padding-left: 0px;padding-bottom: 0px;">
                    <section class="content-signup" style="margin-top: 55px; margin-left: 50px;">
                        <h3>Log-In</h3>
                        <!-- Start Content Jinja Code -->
                        <form method="POST" action"#">
                            {{ form.hidden_tag() }}
                            <fieldset class="form-group">
                                <legend class="border-bottom mb-4"></legend>
                                <!-- BEGINNING OF FEEDBACK ERROR MESSAGE BLOCK -->
                                <div class="form-group" type="text"
                                    style="font-family: Montserrat, sans-serif; margin-top: 50px;">
                                    <div class="form-group">
                                        {{ form.email.label(class="form-control-label") }}
                                        {% if form.email.errors %}
                                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.email.errors %}
                                            <span>
                                                {{ error }}
                                            </span>
                                            {% endfor %}
                                        </div>
                                        {% else %}
                                        {{ form.email(class="form-control form-control-lg") }}
                                        {% endif %}
                                    </div>
                                    <!-- Password label for input usr email -->
                                    <div class="form-group">
                                        {{ form.password.label(class="form-control-label") }}
                                        {% if form.password.errors %}
                                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.password.errors %}
                                            <span>
                                                {{ error }}
                                            </span>
                                            {% endfor %}
                                        </div>
                                        {% else %}
                                        {{ form.password(class="form-control form-control-lg") }}
                                        {% endif %}
                                    </div>
                                    <!-- END OF FEEDBACK ERROR MESSAGE BLOCK -->
                                    <div class="form-check">
                                        {{ form.remember(class="form-check-input") }}
                                        {{ form.remember.label(class="form-check-label") }}
                                    </div>
                            </fieldset>
                            <div class="form-group">
                                {{ form.submit(class="btn btn-outline-info") }}
                                <small class="text-muted ml-2">
                                    <a href="{{ url_for('users.reset_request') }}">Forgot Password?</a>
                                </small>
                            </div>
                        </form>
                        <div class="border-top pt-3">
                            <small class="text-muted">
                                Need An Account?
                                <a class="ml-2" href="{{url_for('users.register') }}">
                                    Register
                                </a>
                            </small>
                        </div>
			<!-- End Content Jinja Code -->
                    </section>
                </div>
            </div>
    </section>
    <script src="../static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/assets/js/smart-forms.min.js"></script>
    <script src="../static/assets/js/script.min.js"></script>
</body>
{% endblock %}
