<!DOCTYPE html>
<html>
<head>
  <title> Escenapp </title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/main.css">
</head>
<body>
  <header>
    <a>
      <span id="logo">
	Logo
      </span>
    </a>
  </header>

  <div class="row no-gutters">
      <div class="col no-gutters">
            <div class="leftside">
              <section class="content-info">
		<span>
		  Beneficios
		</span>

		<div class="content-benefits">
                  <span>
                    Artista
                    <ul class="artist">
		      <li>
			Un espacio para promover tus eventos
		      </li>
		    </ul>
		  </span>

		  <span>
		    Usuario
		    <ul class="users">
		      <li>
			Descubrir artistas y eventos relacionados a ellos cerca de ti.
		      </li>
		    </ul>
		</div>
              </section>
            </div>
      </div>

      <div class="col no-gutters">
	<div class="rightside">
          <section class="content-signup">
            <form action="signup.html" method="GET">
              <div>
                <label for="name">Name:</label>
                <input type="text" name="name" id="name" required>
              </div>
              <div>
                <label for="email">Email:</label>
                <input type="email" name="email" id="email" required>
              </div>
              <div>
                <label for="password">Password:</label>
                <input type="password" name="password" required>
              </div>
              <button type="submit">Submit</button>
            </form>
          </section>
        </div>
      </div>
</body>

<footer>
  <div class="footer-text">
    <span>
      Contact Us
    </span>
    <span>
      FAQ
    </span>
  </div>
</footer>

</html>
