{% extends "layout.html" %}
{% block content %}


<form method="POST" action="">
  {{ form.hidden_tag() }}
  <fieldset class="form-group">
    <!-- BEGINNING OF FEEDBACK ERROR MESSAGE BLOCK -->
    <legend class="border-bottom ml-4">{{ legend }}</legend>
    <div class="form-group">
      <!-- Title label for input usr email -->
      <div class="form-group">
	{{ form.title.label(class="form-control-label") }}

	{% if form.title.errors %}
	{{ form.title(class="form-control form-control-lg is-invalid") }}
	<div class="invalid-feedback">
	  {% for error in form.title.errors %}
	  <span>
	    {{ error }}
	  </span>
	  {% endfor %}
	</div>
	{% else %}
	{{ form.title(class="form-control form-control-lg") }}
	{% endif %}
      </div>
      <!-- Event Type label for input usr email -->
      <div class="form-group">
	{{ form.eventType.label(class="form-control-label") }}

	{% if form.eventType.errors %}
	{{ form.eventType(class="form-control form-control-lg is-invalid") }}
	<div class="invalid-feedback">
	  {% for error in form.eventType.errors %}
	  <span>
	    {{ error }}
	  </span>
	  {% endfor %}
	</div>
	{% else %}
	{{ form.eventType(class="form-control form-control-lg") }}
	{% endif %}
      </div>
      <!-- Description label for input usr below -->
      <div class="form-group">
	{{ form.description.label(class="form-control-label") }}

	{% if form.description.errors %}
	{{ form.description(class="form-control form-control-lg is-invalid") }}
	<div class="invalid-feedback">
	  {% for error in form.description.errors %}
	  <span>
	    {{ error }}
	  </span>
	  {% endfor %}
	</div>
	{% else %}
	{{ form.description(class="form-control form-control-lg") }}
	{% endif %}
      </div>
      <!-- Date label for input usr below -->
      <div class="form-group">
	{{ form.date.label(class="form-control-label") }}
	{{ form.date(class="form-control form-control-lg") }}
      </div>
      <!-- Hour label for input usr below -->
      <div class="form-group">
	{{ form.hour.label(class="form-control-label") }}

	{% if form.hour.errors %}
	{{ form.hour(class="form-control form-control-lg is-invalid") }}
	<div class="invalid-feedback">
	  {% for error in form.hour.errors %}
	  <span>
	    {{ error }}
	  </span>
	  {% endfor %}
	</div>
	{% else %}
	{{ form.hour(class="form-control form-control-lg") }}
	{% endif %}
      </div>
      <!-- END OF FEEDBACK ERROR MESSAGE BLOCK -->
  </fieldset>
  <div class="form-group">
    {{ form.submit(class="btn btn-outline-info") }}
  </div>
</form>

{% endblock content %}
